target/surefire/**/*.*
target/m2e-wtp/**/*.*
target/classes/**/*.*
target/maven-archiver/**/*.*
target/springmvc-demo/**/*.*

.springBeans
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
